<section class="page-guide">
    <div class="page-about">
        <header ng-if="showHeader" class="page-header">
            <div class="header-wrap">
                <h3>协议</h3>
                <a href="javascript:history.back();" class="nav-left" >
                    <i class="icon-back"></i>
                </a>
            </div>
        </header>
        <div class="mod-agree">
            <div class="agree-wrap">
                <h3 class="title">用户参与德指期货交易合作涉及费用及资费标准</h3>
                <p>用户通过平台参与德指期货交易合作将涉及交易综合费和履约保证金的发生。</p>
                <h3 class="topic">一、交易综合费</h3>
                <p>1、交易综合费为平台向用户收取的费用。交易综合费包含：1）平台为用户提供交易合作信息发布、交易合作撮合、交易指令通讯、交易风控管理与交易清结算等服务而收取的信息服务费；2）平台代投资人收取用于补偿投资人帐户交易过程中产生的手续费；3）平台账户为用户提供资金存取、 冻结、解冻和支付等服务手续费。</p>
                <p>2、交易综合费按每手168元计费(具体以平台公布的数据为准)。</p>
                <div style="padding: 10px;">
                    <table>
                        <tr>
                            <td width="25%;">交易数量</td>
                            <td width="35%;">计费标准</td>
                            <td width="40%;">支付：交易综合费</td>
                        </tr>
                        <tr>
                            <td>1手</td>
                            <td>168元/手</td>
                            <td>168元</td>
                        </tr>
                        <tr>
                            <td>2手</td>
                            <td>168元/手</td>
                            <td>336元</td>
                        </tr>
                        <tr>
                            <td>3手</td>
                            <td>168元/手</td>
                            <td>504元</td>
                        </tr>
                        <tr>
                            <td>4手</td>
                            <td>168元/手</td>
                            <td>672元</td>
                        </tr>
                        <tr>
                            <td>5手</td>
                            <td>168元/手</td>
                            <td>840元</td>
                        </tr>
                    </table>
                </div>
                <p>3、交易综合费于用户签署《交易合作协议》时即支付。交易综合费一经支付不予退还。如因平台原因导致系统故障，致使用户和投资人交易合作失败时，用户方可向平台申请退还交易综合费。</p>
                <h3 class="topic">二、履约保证金</h3>
                <p>1、履约保证金为用户委托平台冻结用于履行交易亏损赔付义务的保证金。用户以冻结履约保证金之数额作为承担交易亏损赔付的上限。</p>
                <p>2、履约保证金按用户所选择的交易数量和止损金额，每手可冻结11,719元 、17,579元 、23,438元履约保证金。</p>
                <div style="padding: 10px;">
                    <table>
                        <tr>
                            <td width="23%;">交易数量</td>
                            <td width="37%;">履约保证金标准</td>
                            <td width="40%;">冻结：履约保证金</td>
                        </tr>
                        <tr>
                            <td>1手</td>
                            <td>11,719元/手</td>
                            <td>11,719元</td>
                        </tr>
                        <tr>
                            <td>2手</td>
                            <td>11,719元/手</td>
                            <td>23,438元</td>
                        </tr>
                        <tr>
                            <td>3手</td>
                            <td>11,719元/手</td>
                            <td>35,157元</td>
                        </tr>
                        <tr>
                            <td>4手</td>
                            <td>11,719元/手</td>
                            <td>46,876元</td>
                        </tr>
                        <tr>
                            <td>5手</td>
                            <td>11,719元/手</td>
                            <td>58,595元</td>
                        </tr>
                    </table>
                    <span class="txt-s12">* 履约保证金 = 履约保证金标准 X 手数，以此类推</span>
                </div>
                <p>3、交易合作结束，根据平台清结算结果，如交易盈利，用户冻结履约保证金全额解冻。如交易亏损，平台从用户冻结履约保证金中，扣减用户所应承担亏损赔付额的数额，扣减后余额解冻。</p>
                <p>本附件系用户与投资人签署《交易合作协议》的重要组成部分，具有同等法律效力。</p>
            </div>
        </div>
    </div>
</section>