<section class="page-articles">
    <div class="page-article-off-farm">
        <header ng-if="showHeader" class="page-header">
            <div class="header-wrap">
                <h3>文章</h3>
                <a href="#/index" class="nav-left"><i class="icon-back"></i></a>
            </div>
        </header>
        <img class="article-img" src="/app/images/banner/banner12.jpg">
        <h3 class="txt-center txt-s16 pt20 txt-black">1月9号 — 1月15号</h3>
        <div class="line txt-center">
            <span class="line-pre"></span>
            <span></span>
        </div>
        <div class="article-attention-content">
            <span class="fl">周一</span>
            <p>15:00 德国11月未季调贸易帐(亿欧元)</p>
            <p>15:00 德国11月季调后经常帐(亿欧元)</p>
            <p>15:00 德国11月季调后工业产出月率</p>
            <p>15:30 法国12月BOF商业信心指数</p>
            <p>16:15 瑞士11月实际零售销售年率</p>
            <p>16:30 英国12月Halifax季调后房价指数月率</p>
            <p>17:30 欧元区1月Sentix投资者信心指数</p>
            <p class="mb10">18:00 欧元区11月失业率</p>
            <span class="fl">周二</span>
            <p>9:30  中国12月CPI年率</p>
            <p>14:45 瑞士12月季调后失业率</p>
            <p>15:45 法国11月工业产出月率</p>
            <p>19:00 美国12月NFIB小型企业信心指数</p>
            <p class="mb10">23:00 美国11月批发销售月率</p>
            <span class="fl">周三</span>
            <p>05:30 美国至1月6日当周API原油库存(万桶)</p>
            <p>17:30 英国11月工业产出月率</p>
            <p>17:30 英国11月制造业产出月率</p>
            <p>17:30 英国11月季调后商品贸易帐(亿英镑)</p>
            <p class="mb10 txt-red">23:30 美国至1月6日当周EIA原油库存(万桶)</p>
            <span class="fl">周四</span>
            <p>07:50 日本11月贸易帐(亿日元)</p>
            <p>15:45 法国12月CPI月率</p>
            <p>17:00 德国2016年全年GDP增速</p>
            <p class="txt-red">21:30 美国至1月7日当周初请失业金人数(万人)</p>
            <p>21:30 美国12月进口物价指数月率</p>
            <p class="mb10">23:30 美国至1月6日当周EIA天然气库存(亿立方英尺)</p>
            <span class="fl">周五</span>
            <p>10:00 中国12月贸易帐(亿元)</p>
            <p>21:30 美国12月零售销售月率</p>
            <p>23:00 美国1月密歇根大学消费者信心指数初值</p>
            <p class="mb10">23:00 美国11月商业库存月率</p>
            <span class="fl">周六</span>
            <p class="mb10">02:00 美国至1月13日当周石油钻井总数(口)</p>
            <span class="fl">周日</span>
            <p>今日无重要事件</p>
        </div>
    </div>
    <div class="article-footer" ng-if="showHeader && btnName && btnLink">
        <a href={{btnLink}} class="btn-blue btn">
            {{btnName}}
        </a>
    </div>
</section>