<section class="page-articles">
    <div class="page-article-off-farm">
        <header ng-if="showHeader" class="page-header">
            <div class="header-wrap">
                <h3>文章</h3>
                <a href="#/index" class="nav-left"><i class="icon-back"></i></a>
            </div>
        </header>
        <img class="article-img" src="/app/images/banner/banner11.jpg">
        <h3 class="txt-center txt-s16 pt20 txt-black">2017开年盛宴，剑指非农</h3>
        <div class="line txt-center">
            <span class="line-first"></span>
            <span></span>
        </div>
        <div class="article-off-farm-content">
            <h4 class="pt10 txt-s16 txt-center pb5 txt-black">2017年首个非农来袭，你准备好了吗？</h4>
            <p class="txt-bold txt-s16 txt-black">收益空间100%——300%</p>
            <p>周五(1月6日)将公布12月非农就业报告，这将为美国经济复苏提供进一步证据，若就业市场持续表现强劲，美联储升息计划也指日可待。</p>
            <p>近日受市场交投清淡影响，美元指数已落下103高位，且势态疲软，但本周重大风险事件颇多，若非农数据好于预期，美元指数将再获支撑上涨，有望重回103关口;反之，若非农数据不及预期，美元指数或将承压，跌穿102大关。</p>
            <p class="txt-s16 txt-black">美国方面：</p>
            <p>1月6日非农数据，实际值可能超出预期，那么将利多美元，利空黄金白银。1月20日特朗普宣誓就任，特朗普也支持强势美元！那么美联储2017加息的概率很大，3次加息也并非妄谈。</p>
            <p class="txt-s16 txt-black">欧洲方面：</p>
            <p>英国2017年面临硬退欧考验，欧洲银行2017年仍是危机经济问题，可能导致退欧意识升高,市场信心恶化欧元兑美元率创新低。</p>
            <p class="txt-black">非农作为投资市场的焦点历久不衰，2017开年，一波大行情也即将来临：</p>
            <p>1、 1月5日  美联储FOMC会议要记</p>
            <p>2、 1月5日  美国当周初请失业金数</p>
            <p>3、 数据公布后特朗普将就任美国总统</p>
            <p>4、 数据公布时正逢实物金银消费高峰</p>
            <p>这样千载难逢的机会，可不要错过咯！</p>
            <p class="txt-bold txt-s16 txt-black">提前入金，稳抓大行情！</p>
        </div>
        <p class="txt-s10 txt-center txt-grey pt30">本文仅作参考，不构成投资建议，投资有风险，入市需谨慎</p>
    </div>
    <div class="article-footer" ng-if="showHeader && btnName && btnLink">
        <a href={{btnLink}} class="btn-blue btn">
            {{btnName}}
        </a>
    </div>
</section>