<section class="page-articles">
    <div class="page-article-off-farm">
        <header ng-if="showHeader" class="page-header">
            <div class="header-wrap">
                <h3>文章</h3>
                <a href="#/index" class="nav-left"><i class="icon-back"></i></a>
            </div>
        </header>
        <img class="article-img" src="/app/images/banner/banner17.jpg">
        <h3 class="txt-center txt-s16 pt20 txt-black">深入了解非农，秒变行家</h3>
        <div class="line txt-center">
            <span class="line-first"></span>
            <span></span>
        </div>
        <div class="article-off-farm-content">
            <p>3月10日 21:30 “非农”又将重磅来袭。加上美联储3月高概率的加息，是否成为开启金银走势的关键事件节点？</p>
            <h4 class="pt10 txt-s16 txt-center pb5 txt-black">12月2日数据公布后，短线盈利超10%</h4>
            <p>2016年12月非农数据公布的就业人数略好于此前预期的17.5万人；但因劳动力参与率和薪资增速下滑，黄金TD先跌后涨，短线盈利空间超10%。</p>
            <img class="article-img" src="/app/images/article/article3.jpg">
            <h4 class="pt10 txt-s16 txt-center pb5 txt-black">非农数据已成为市场高度关注的重点</h4>
            <p>上周美联储主席耶伦发表讲话，给出了3月可能加息的最强烈信号，称“如果经济数据符合预期，3月加息是适宜的”。</p>
            <p>本周非农数据除非非常糟糕，否则3月加息板上钉钉。2月非农是影响美联储在下次会议对未来经济前景观点的重要经济指标。</p>
            <h4 class="pt10 pb5 pl20 txt-s16 txt-black">直击重点</h4>
            <p class="txt-blue">由于非农来袭，数据就在转瞬间反映在市场上，这段行情快速而剧烈，也是最大获利最快的行情，同时也是高收益并行高风险，务必严格设置止损止盈。若行情给力，有望出现单边行情。在这样的行情中，需要及时止盈。但切忌一点，万万不可盲目反向操作，需谨慎对待。</p>
            <p class="txt-blue mt10 txt-s16">稳稳抓住这波大行情！</p>
            <p class="txt-blue txt-s16">提前入金，蓄势待发！</p>
        </div>
        <p class="txt-s10 txt-center txt-grey pt30">本文仅作参考，不构成投资建议，投资有风险，入市需谨慎</p>
    </div>
    <div class="article-footer" ng-if="showHeader && btnName && btnLink">
        <a href={{btnLink}} class="btn-blue btn">
            {{btnName}}
        </a>
    </div>
</section>