<section class="page-guide">
    <div class="page-guide-menu">
        <header ng-if="showHeader" class="page-header">
            <div class="header-wrap">
                <h3>新手引导</h3>
                <a href="#/index" class="nav-left">
                    <i class="icon-back"></i>
                </a>
            </div>
        </header>
        <div class="mod-menu-wrap mt20">
            <a href="#/introduce{{showHeader?'':'?source=IOSAPP'}}" class="mod-menu txt-black">
                一分钟介绍
                <i class="mod-arrow-r"></i>
            </a>
            <a href="#/tradeRuleHSI{{showHeader?'':'?source=IOSAPP'}}" class="mod-menu txt-black">
                恒指交易规则
                <i class="mod-arrow-r"></i>
            </a>
            <a href="#/tradeRuleGC{{showHeader?'':'?source=IOSAPP'}}" class="mod-menu txt-black">
                美黄金交易规则
                <i class="mod-arrow-r"></i>
            </a>
            <a href="#/tradeRuleSI{{showHeader?'':'?source=IOSAPP'}}" class="mod-menu txt-black">
                美白银交易规则
                <i class="mod-arrow-r"></i>
            </a>
            <a href="#/tradeRuleCL{{showHeader?'':'?source=IOSAPP'}}" class="mod-menu txt-black">
                美原油交易规则
                <i class="mod-arrow-r"></i>
            </a>
            <a href="#/tradeRuleCN{{showHeader?'':'?source=IOSAPP'}}" class="mod-menu txt-black">
                富时A50交易规则
                <i class="mod-arrow-r"></i>
            </a>
            <a href="#/tradeRuleDAX{{showHeader?'':'?source=IOSAPP'}}" class="mod-menu txt-black">
                德指交易规则
                <i class="mod-arrow-r"></i>
            </a>
            <a href="#/tradeRuleMHI{{showHeader?'':'?source=IOSAPP'}}" class="mod-menu txt-black">
                小恒指交易规则
                <i class="mod-arrow-r"></i>
            </a>
            <a href="#/safe{{showHeader?'':'?source=IOSAPP'}}" class="mod-menu txt-black">
                安全保证
                <i class="mod-arrow-r"></i>
            </a>
            <a href="#/aboutUs{{showHeader?'':'?source=IOSAPP'}}" class="mod-menu txt-black">
                关于我们
                <i class="mod-arrow-r"></i>
            </a>
        </div>
    </div>
</section>